OGG_FRAMEWORK_PATH = $(PROJECT_DIR)/deps/IDZPrecompiledOgg
VORBIS_FRAMEWORK_PATH = $(PROJECT_DIR)/deps/IDZPrecompiledVorbis
SRC_PATH = $(PROJECT_DIR)/src
BUILD_SRC_PATH = $(PROJECT_DIR)/out
HASHLINK_PATH = $(PROJECT_DIR)/deps/hashlink
HASHLINK_INCLUDE_PATH = $(HASHLINK_PATH)/src
PNG_INCLUDE_PATH = $(HASHLINK_PATH)/include/png
PCRE_INCLUDE_PATH = $(HASHLINK_PATH)/include/pcre
MINIMP3_INCLUDE_PATH = $(HASHLINK_PATH)/include/minimp3
MIKKTSPACE_INCLUDE_PATH = $(HASHLINK_PATH)/include/mikktspace
SDL2_INCLUDE_PATH = $(PROJECT_DIR)/deps/SDL/include
TURBOJPEG_INCLUDE_PATH = $(PROJECT_DIR)/deps/turbojpeg/dependencies-lib/include
TURBOJPEG_LIB_PATH = $(PROJECT_DIR)/deps/turbojpeg/dependencies-lib/lib
HASHLINK_SDL_INCLUDE_PATH = $(HASHLINK_PATH)/libs/sdl
HASHLINK_OPENAL_INCLUDE_PATH = $(HASHLINK_PATH)/libs/openal
TARGET_SYSTEM_HEADER_SEARCH_PATHS = $(BUILD_SRC_PATH) $(HASHLINK_INCLUDE_PATH) $(PNG_INCLUDE_PATH) $(PCRE_INCLUDE_PATH) $(MINIMP3_INCLUDE_PATH) $(MIKKTSPACE_INCLUDE_PATH) $(SDL2_INCLUDE_PATH) $(TURBOJPEG_INCLUDE_PATH) $(HASHLINK_SDL_INCLUDE_PATH) $(HASHLINK_OPENAL_INCLUDE_PATH)
PROJECT_SYSTEM_HEADER_SEARCH_PATHS = $(BUILD_SRC_PATH)/main.c $(SRC_PATH)
